<div class="footer">
    <div class="content-footer">
        <nav>
            <li>
                <a href="#" style="--d: 2s">
                    <img src="assets/images/logo.png" alt="logo" class="logo">
                </a>
                <p>&copy; 2025 Viva Mundo. Todos os direitos reservados Ícones por <a href="https://icons8.com" target="_blank">Icons8</a>, imagens por <a href="https://br.freepik.com" target="_blank">Freepik</a>, fontes de texto <a href="https://fonts.google.com" target="_blank">Google Fontes</a> </p>
            </li>
        </nav>
        <div>
            <h5>Sobre nós</h5>
            <a target="_blank">Quem somos</a>
            <a target="_blank">Nossa missão</a>
            <a target="_blank">Trabalhe Conosco</a>
        </div>
        <div>
            <h5>Ajuda</h5>
            <a target="_blank">Perguntas Frequentes</a>
            <a target="_blank">Suporte ao cliente</a>
            <a target="_blank">Política de cancelamento</a>
        </div>
        <div>
            <h5>Conecte-se</h5>
            <a target="_blank">Youtube</a>
            <a target="_blank">Blog</a>
            <a target="_blank">LinkedIn</a>
            <a target="_blank">Instagram</a>
            <a target="_blank">TikTok</a>
        </div>
    </div>
    <div class="credits-development">Desenvolvido por <a href="https://www.linkedin.com/in/devguilhermebarbosa/">Dev Guilherme</a> versão: 1.0</div>
</div>
