.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style-type: none;

    a {
        text-decoration: none;
        list-style-type: none;
        color: rgb(104, 104, 104);
    }
    a:hover{
        color: rgb(169, 10, 255);
    }
    
}

.content-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    div {
        display: flex;
        flex-direction: column;
    }

    nav {
        border-right: 1px solid blueviolet;
        padding-right: 20px;
        width: 300px;
        img{
            width: 100px;
        }
    }
}

.credits-development {
    margin: 5%;
    text-align: center;

    a{
        color: blueviolet;
    }
}

@media (max-width: 500px) {
    .footer{
        p{
            text-align: center;
        }
    }

    .content-footer {
        flex-direction: column;
        justify-content: center;
        align-content: space-around;
        text-align: center;

        nav {
            border: none;
            width: auto;
            padding-right: 0;

            li {

                padding: 5px;
            }
            img{
                width: 90px;
            }
        }

        div {
            margin: 4%;
        }
    }
}

@media (min-width: 501px) and (max-width: 700px)
{
    .footer{
        p{
            text-align: center;
        }
    }

    .content-footer {
        flex-direction: row;
        justify-content: center;
        align-content: space-around;
        text-align: center;
        font-size: smaller;

        nav {
            border-right: 1px solid blueviolet;
            border: none;
            width: auto;
            padding-right: 0;

            li {

                padding: 5px;
            }

            img{
                width: 80px;
            }
        }

        div {
            margin: 4%;
        }
    }
}