<div class="my-form" id="my-form">
    <h2 id="form-title">O que não pode faltar na sua viagem?</h2>
    <form>
        <label for="name">Nome:</label>
        <input type="text" name="nome" placeholder="Ex: João">

        <label for="email">E-mail:</label>
        <input type="email" name="email" placeholder="Ex: examplo@gmail.com">

        <label for="message">Messagem: </label>
        <input type="text" name="message" placeholder="Digite sua mensagem aqui" class="space-message">

        <button type="submit" class="input-email">Enviar email</button>
    </form>
    <div class="cta-links">
        <a href="#destinations" class="cta-primary">Explorar Destinos</a>
        <a href="#form-title" class="cta-secondary">Fale conosco</a>
    </div>
</div>