<div class="destinations">
    <h1 id="destinations">Destinos em destaque</h1>
    <p>Escolhemos os destinos mais incríveis para você explorar. Veja nossas opções mais populares e prepare-se para se
        apaixonar.</p>
    <div class="conteiner-destinations">
        <div class="destinations-response">
            <div class="card-destinations" id="paris">
                <a class="link-destinations">
                    <h2>Paris</h2>
                    <p>A cidade do amor e da luz espera por você.</p>
                </a>
            </div>
            <div class="card-destinations" id="maldivas">
                <a class="link-destinations">
                    <h3>Maldivas</h3>
                    <p>Paraíso tropicais perfeitos para relaxar</p>
                </a>
            </div>
        </div>
        <div class="destinations-response">
            <div class="card-destinations" id="new-york">
                <a class="link-destinations">
                    <h3>Nova York</h3>
                    <p>A cidade que nunca dorme está te chamando</p>
                </a>
            </div>
            <div class="card-destinations" id="rio-de-janeiro">
                <a class="link-destinations">
                    <h3>Rio de Janeiro</h3>
                    <p>O coaração do brasil com praias e culturas vibrantes.</p>
                </a>
            </div>
        </div>
    </div>
</div>