<div class="depoiments">
    <h2>O que nossos clientes dizem:</h2>
    <div class="container-depoiments">
        <div class="card-depoiment">
            <p>"Minha lua de mel foi perfeita graças a vocês." - <strong>Ana S.</strong></p>
        </div>
        <div class="card-depoiment">
            <p>"Viajar ficou mais fácil com a ajuda da equipe." <strong>João M.</strong></p>
        </div>
        <div class="card-depoiment">
            <p>"Me senti em casa, mesmo do outro lado do mundo." <strong>Carla L.</strong></p>
        </div>
    </div>
</div>