.depoiments {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.container-depoiments {
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding-top: 6%;
    animation: slideLeft 10s linear infinite;
}

.container-depoiments:hover{
    animation-play-state: paused;
}

.card-depoiment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(114, 19, 148);
    min-width: 100px;
    max-width: 500px;
    height: 20px;
    padding: 6%;
    border-radius: 60px 30px 70px 0;
    color: rgb(197, 197, 197);
    font-size: small;
}

@keyframes slideLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@media (max-width: 500px) {
    .card-depoiment {
        width: 200px;
        width: auto;
    }
}