* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    background-color: #e4e4e4;
    color: rgb(48, 48, 48);
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}